<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="">

  <title> HCI </title>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link href="static/css/font-awesome.min.css" rel="stylesheet" />
  <link href="static/css/style.css" rel="stylesheet" />
  <link href="static/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid ">
          <div class="contact_nav" style="display:flex;justify-content: center; align-items:center;">
            <a href="" >
              <span  >
                HUMAN COMPUTER INTERACTION
              </span>
            </a>

          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <span>
                WanderWise
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">

                <li class="nav-item active">
<!--                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>-->
                  <a class="nav-link" href="{{ url_for('base') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
<!--                  <a class="nav-link" href="service.html">Services</a>-->
                  <a class="nav-link" href="{{ url_for('index') }}" class="button">IntelliConverse</a>
                </li>

                <li class="nav-item">
<!--                  <a class="nav-link" href="about.html"> About</a>-->
                  <a class="nav-link" href="{{ url_for('predict') }}" class="button">FlightWise</a>
                </li>

                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
<!--        <img src="static/images/slider-bg.jpg" alt="">-->
         <img src="static/images/f4.jpeg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      We Offer Accurate <br>
                      Flight Price Predictions
                    </h1>
                    <p>
                      Stay ahead of the curve and book at the right time! Whether you’re planning a vacation or a business trip,
                      our intuitive interface makes it easy to find the best fares.
                    </p>
                    <div class="btn-box">
                        <a class="btn1" href="{{ url_for('predict') }}" class="button">FlightWise</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      Chat Smarter<br>
                      with IntelliConverse!
                    </h1>
                    <p>
                      A chatbot that allows document uploads can enhance user interaction by
                      providing tailored responses based on the content of the uploaded files.
                      Users can easily share documents like PDFs, Word files for the bot to
                      analyze and respond to specific queries. This functionality can be particularly useful in customer support,
                      education, or any scenario requiring detailed information retrieval.
                    </p>
                    <div class="btn-box">
                      <a class="btn1" href="{{ url_for('index') }}" class="button">IntelliConverse</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Our <span>Services</span>
          </h2>

        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  FlightWise
                </h5>
                <p>

                  Stay ahead of the curve and book at the right time! Our intuitive interface helps you find the best
                  fares for your vacation or business trip with ease.
                </p>

                  <a class="btn1" href="{{ url_for('predict') }}" class="button"> Read More</a>

              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  IntelliConverse
                </h5>
                <p>
                  A chatbot that allows document uploads can enhance user interaction by
                      providing tailored responses based on the content of the uploaded files.
                </p>
                <a class="btn1" href="{{ url_for('index') }}" class="button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              We are dedicated to simplifying your travel experience by helping you find the best fares for
              vacations and business trips. Our user-friendly platform features a smart chatbot that provides
              instant assistance, answering your questions and guiding you through the booking process.
              With cutting-edge technology and a commitment to customer satisfaction,
              we ensure you can book with confidence and ease
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="static/images/f2.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->
  <!-- info section -->

  <section class="info_section layout_padding2 " style="margin-top:100px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9145074526
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  navalepunam183@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
             The Flight Price Prediction project uses machine learning for fare forecasting and includes
              a chatbot for real-time travel assistance.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="/">
                <img src="static/images/nav-bullet.png" alt="">
                Home
              </a>
              <a class="" href="{{ url_for('index') }}">
                  IntelliConverse
              </a>
              <a class="" href="{{ url_for('predict') }}">
                Flight Price Prediction
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- jQery -->
  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="static/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>